.box {
  padding: 1em;
  background-color: #f0f0ff;
}
.box-error {
  padding: 1em;
  background-color: #fff0f0;
  border: 1px solid #ffc0c0;
}
h1.error {
  color: red;
}
#menubar {
  padding: 8px;
  background-color: #f0f0ff;
  font-size: 0.8em;
  border-bottom: 1px solid silver;
}
#footer {
  margin-top: 2em;
  padding: 8px;
  border-top: 1px silver solid;
  text-align: right;
  font-size: 0.8em;
  background-color: #f0f0ff;
}
.info {
  color: #909090;
  font-size: 0.8em;
  background-color: white;
  padding: 8px;
}
form {
  line-height: 1.5em;
}
.tool {
  border: 1px solid #a0a0c0;
  padding: 0.5em;
}
.vcode {
  padding: 0.5em;
  border: 1px solid #8080c0;
  background-color: #f0f0ff;
  color: #505050;
}

